{
    "admin": {
        "listen": "localhost:2019",
        "origins": [
            "localhost:2019",
            "127.0.0.1:2019",
            "__TAILPORT_ADMIN_ORIGIN__"
        ]
    },
    "apps": {
        "http": {
            "servers": {
                "tailport": {
                    "listen": [
                        ":443",
                        ":80"
                    ],
                    "routes": []
                }
            }
        }
    }
}
